body {
    padding-top: 60px;
}

dl {
    overflow: hidden;
}

dt {
    width: 100px;
    float: left;
    text-align: right;
    font-weight: normal;
}

dd {
    margin-left: 120px;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    background: rgba(255,255,255,0.1);
}
